@tailwind base;
@tailwind components;
@tailwind utilities;

.form,
.card {
	@apply border border-sju-500 border-t-4 border-t-sju-400 py-10 px-5 rounded-lg shadow-md  dark:bg-sjud-200 dark:border-gray-600 dark:border-t-sjud-300 dark:text-gray-300 mb-8;
}
.form-title,
.card-title {
	@apply text-sju-50 mb-5 border-b border-b-sju-400 pt-0 px-1 pb-2 inline-block dark:font-bold;
}
.form input,
.form select {
	@apply dark:bg-sjud-600 dark:border-sjud-50 dark:text-sjud-400 dark:focus:border-sju-50;
	font-size: 0.86rem;
}
h5,
.h5 {
	@apply text-xl;
}
h4 {
	@apply text-2xl;
}
h3 {
	@apply text-3xl;
}
label {
	@apply inline-block mb-2;
}
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]) {
	@apply block w-full border py-1.5 px-3 outline-none rounded-sm text-sm border-gray-400 focus:border-sju-400 focus:outline-none;

	line-height: 1.25rem;
}
.btn {
	@apply py-1.5 px-3 rounded-sm transition shadow-md hover:shadow-lg;
}
.btn-primary {
	@apply bg-sju-200 hover:bg-sju-50 text-white cursor-pointer btn;
}
.btn-primary[disabled],
.btn[disabled] {
	@apply bg-gray-200 cursor-not-allowed;
}
select {
	@apply block w-full border py-1 px-3 outline-none rounded-sm text-sm focus:border-sju-400;
}
.row-of-two {
	@apply grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-4;
}
.input-group {
	@apply flex flex-row-reverse rtl:flex-row;
}
.input-group > input {
	@apply sm:w-10/12 md:w-10/12 border-l-0 rounded-l-none focus:border-gray-100;
}
.input-group > .prepend {
	@apply sm:w-2/12 md:w-2/12 text-center px-1 mb-0 text-sm border border-r-0;
}
.members-form .input-group > .prepend {
	@apply w-4/12 sm:w-3/12;
}
.members-form .input-group > input {
	@apply w-8/12 sm:w-9/12;
}
.content * {
	@apply leading-8 break-words text-gray-500;
}
.content hr {
	@apply my-6;
}
* {
	font-family: "Droid Arabic Kufi", sans-serif !important;
	box-sizing: border-box;
}

/* Fixing formkit Checkbox and radio */
[data-type="checkbox"] .formkit-input,
[data-type="radio"] .formkit-input {
	left: auto !important;
}
.formkit-decorator {
	font-size: 12px;
}

/* Chats */
.bubble-other {
	@apply mx-2 py-1 px-4 bg-white text-gray-500 shadow-md rounded-bl-3xl rounded-tl-3xl rounded-tr-xl rtl:rounded-none rtl:rounded-br-3xl rtl:rounded-tr-3xl rtl:rounded-tl-xl;
}
.bubble-me {
	@apply mx-2 py-1 px-4 bg-sju-50 text-white rounded-br-3xl rounded-tr-3xl rounded-tl-xl rtl:rounded-none rtl:rounded-bl-3xl rtl:rounded-tl-3xl rtl:rounded-tr-xl;
}
